@media only screen and (min-width: 1280px) {
  .body {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  /* .imagecars {
    width: 100%;
  } */

  .carsimage {
    max-width: 100%;
    height: auto;
    object-fit: fill;
  }

  .inputlogin {
    /* position: absolute; */

    display: flex;
    flex-direction: column;
    gap: 20px;

    justify-content: center;

    background-color: white;
    width: 482px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .rectangle {
    width: 100px;
    height: 34px;
    background-color: #cfd4ed;
  }

  .titledashboard {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }
  .loginuser-button {
    width: 370px;
    height: fit-content;
    padding: 8px;
    border-radius: 0px;
    background-color: white;
    color: #0d28a6;
    border-color: #0d28a6;
    margin-bottom: 8px;
  }
  .regis-button {
    width: 370px;
    height: fit-content;
    padding: 8px;
    border-radius: 0px;
    background-color: #0d28a6;
    color: white;
    margin-bottom: 8px;
  }
}
